body {
  background: #0f172a;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: #111827;
  padding: 30px;
  border-radius: 14px;
  color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 13px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #73917e;
  color: white;
  font-weight: bold;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #355d94;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

li.done span {
  text-decoration: line-through;
  opacity: 0.5;
}