/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
html, body {
  height: 100%;
}

/* BODY BASE */
body { 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LINKS */
a {
  color: inherit;
  text-decoration: none;
}

/* BUTTON DEFAULT FIX */
button {
  font-family: inherit;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}

* {
  transition: all 0.15s ease;
}
